<nb-layout>
  <nb-layout-header fixed>
    <h1 class="title">Fart</h1>
    <h6>Sync word syllables to fart sounds</h6>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-12 col-md-9 d-flex justify-content-center">
            <input
              nbInput
              fullWidth
              #wordInput
              (keyup.enter)="getSyllables(wordInput.value)"
              id="wordInput"
              type="text"
              placeholder="Enter word"
            />
          </div>
          <div class="col-sm-12 col-md-3 d-flex justify-content-center">
            <button
              nbButton
              status="warning"
              (click)="getSyllables(wordInput.value)"
            >
              Fart
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img class="image" src="assets/fart.svg" alt="" />
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>&copy; Absolutely no copyright whatsoever</p>
  </nb-layout-footer>
</nb-layout>
